/MCPSniffer/ElasticSeachSDK/bin
/MCPSniffer/ElasticSeachSDK/obj
/MCPSniffer/MCPSniffer/obj
/MCPSniffer/MCPSniffer.Core/obj
/MCPSniffer/MCPSniffer.Interface/obj
/MCPSniffer/MCPSniffer.Core/bin
/MCPSniffer/MCPSniffer.Interface/bin
/MCPSniffer/MCPSniffer/bin
